<%- include('../partials/header') %>

<h2><%= title %></h2>
<div>sorting method</div>
<section class="hikes-index">
    <div class="hike-card">Hike Info</div>
    <div class="hike-card">Hike Info</div>
    <div class="hike-card">Hike Info</div>
</section>


<%- include('../partials/footer') %>