<%- include('../partials/header') %>

<h2><%= title %></h2>


<form action="/hikes" method="POST">
    <label>Name of Trail/Hike:</label>
    <input type="text" name="name">

    <br>
    
    <label>Location:</label>
    <input type="text" name="location">
    
    <br>
    
    <label>Difficulty:</label>
    <select name="difficulty">
      <option value="easy">Easy</option>
      <option value="moderate">Moderate</option>
      <option value="challenging">Challenging</option>
      <option value="advanced">Advanced</option>
    </select>
    
    <br>
    
    <label>Length (in miles):</label>
    <input type="text" name="length" pattern="\d+(\.\d{1})?" title="Please enter a valid number with one decimal place" required>
    
    <br>
    
    <label>Description:</label>
    <br>
    <textarea name="description" cols="30" rows="10"></textarea>
    
    <br>

    <fieldset>
      <legend>Categories (select all that apply):</legend>
      <label>
        <input type="checkbox" name="categories" value="Dog-Friendly"> 
        Dog-Friendly
      </label>

      <label>
        <input type="checkbox" name="categories" value="Scenic Views">
        Scenic Views
      </label>

      <label>
        <input type="checkbox" name="categories" value="Wildlife"> 
        Wildlife
      </label>

      <label>
        <input type="checkbox" name="categories" value="Waterfalls"> 
        Waterfalls
      </label>

    </fieldset>
  
    <br>
    <input type="submit" value="Add Hike">
  </form>


<%- include('../partials/footer') %>