<%- include('../partials/header') %>

<h2><%= title %></h2>


<form class="new-edit-hike-form" action="/hikes" method="POST">
    <label>Name of Trail/Hike:
      <br>
      <input type="text" name="name">
    </label>
    
    <label>Location: 
      <br>
      <input type="text" name="location">
    </label>
        
    <label>Difficulty:
      <br>
      <select name="difficulty">
        <option value="Easy">Easy</option>
        <option value="Moderate" selected>Moderate</option>
        <option value="Challenging">Challenging</option>
        <option value="Advanced">Advanced</option>
      </select>
    </label>
    
    <label>Route Type:
      <br>
      <select name="routeType">
        <option value="Loop">Loop</option>
        <option value="Out and Back" selected>Out and Back</option>
        <option value="Point to Point">Point to Point</option>
      </select>
    </label>
          
    <label>Length (in miles to the first decimal):
      <br>
      <input type="text" name="length" pattern="\d+(\.\d{1})?" required>
    </label>
        
    <label>Description:
      <br>
      <textarea class="hike-form-textarea" name="description" cols="30" rows="10"></textarea>
    </label>
    
    <fieldset>
      <legend>Categories (select all that apply):</legend>
      <label>
        <input type="checkbox" name="categories" value="Dog-Friendly"> 
        Dog-Friendly
      </label>

      <label>
        <input type="checkbox" name="categories" value="Kid-Friendly"> 
        Kid-Friendly
      </label>

      <label>
        <input type="checkbox" name="categories" value="River">
        River
      </label>

      <label>
        <input type="checkbox" name="categories" value="Scenic Views">
        Scenic Views
      </label>

      <label>
        <input type="checkbox" name="categories" value="Scramble">
        Scramble
      </label>

      <label>
        <input type="checkbox" name="categories" value="Waterfalls"> 
        Waterfalls
      </label>
      
      <label>
        <input type="checkbox" name="categories" value="Wildflowers"> 
        Wildflowers
      </label>
      
      <label>
        <input type="checkbox" name="categories" value="Wildlife"> 
        Wildlife
      </label>
      
    </fieldset>
    <br>
    <br>
    <input class="add-edit-hike" type="submit" value="Add Hike">
  </form>


<%- include('../partials/footer') %>