<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      &nbsp;|&nbsp; 
      <a href="/hikes" <%- title === 'All Hikes' ? 'class="active"' : '' %>>All Hikes</a>
      <% if (user) { %>
        &nbsp;|&nbsp; 
        <a href="/"	<%- title === 'Add a Hike' ? 'class="active"' : '' %>>
          Add a Hike</a>
          &nbsp;|&nbsp; 
          <a href="/" <%- title === 'Add a Category' ? 'class="active"' : '' %>>Add a Category</a>
          &nbsp;|&nbsp; 
          <a href="/logout">Log Out</a>
          <% } else { %>
            &nbsp;|&nbsp; 
            <a href="/auth/google" class="login">Log In</a>
      <% } %>
    </nav>

